<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="knight" class="BraveKnight">
        <!--注入Quest Bean-->
        <constructor-arg ref="quest"/>
    </bean>
    <!--创建SlayDragonQuest-->
    <bean id="quest" class="SlayDragonQuest">
        <constructor-arg value="#{T(System).out}"/>
    </bean>
</beans>